.body {
    margin: 0 auto;
    background-color: #f7f7f7;
    font-family: "Jura", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
}

.header {
    max-width: 1600px;
    margin: 0 auto;
    height: 100vh;
    background: url(./images/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .header {
        background: url(./images/main-mobile.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.header-title {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 100px;
    font-weight: 200;
    max-width: 550px;
    text-align: center;
}


@media screen and (max-width: 515px) {
    .header-title {
        max-width: 430px;
        font-size: 60px;
    }
}

@media screen and (max-width: 430px) {
    .header-title {
        max-width: 430px;
        font-size: 55px;
    }
}

@media screen and (max-width: 360px) {
    .header-title {
        max-width: 320px;
        font-size: 40px;
    }
}

.header-text {
    margin: 0;
    padding: 100px 0 0 0;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

@media screen and (max-width: 480px) {
    .header-text {
        font-size: 25px;
        padding: 50px 0 0 0;
    }
}

@media screen and (max-width: 430px) {
    .header-text {
        font-size: 25px;
        padding: 50px 0 0 0;
    }
}

.main {
    margin: 0 auto;
    padding: 0;
}

.event {
    max-width: 1600px;
    margin: 0 auto;
    min-height: 975px;
    display: flex;
    background: url(./images/hello.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    color: #8C6146;
}


@media screen and (max-width: 1000px) {
    .event {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 440px) {
    .event {
        min-height: 700px;
    }
}

.event-description {
    max-width: 540px;
    margin: 0;
    padding: 300px 0 0 300px;
}

@media screen and (max-width: 1440px) {
    .event-description {
        max-width: 540px;
        margin: 0;
        padding: 300px 0 0 200px;
    }
}

@media screen and (max-width: 1220px) {
    .event-description {
        padding: 300px 0 0 100px;
        max-width: 430px;
    }
}

@media screen and (max-width: 1000px) {
    .event-description {
        margin: 0;
        padding: 0;
    }
}

.event-header {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 0;
    padding: 0 0 45px 0;
    font-weight: 100;
    font-size: 70px;
    line-height: 120%;
    font-family: "Poiret One", sans-serif;
}

@media screen and (max-width: 1220px) {
    .event-header {
        padding: 0 30px 50px 0;
        font-size: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .event-header {
        padding-bottom: 30px;
        font-size: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .event-header {
        padding-bottom: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .event-header {
        box-sizing: border-box;
        padding: 0 10px 0 10px;
        font-size: 45px;
    }
}

@media screen and (max-width: 360px) {
    .event-header {
        font-size: 35px;
        padding-bottom: 25px;
    }
}

.event-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    margin: 0;
    padding: 0 0 0 0;
    width: 350px;
}

@media screen and (max-width: 1000px) {
    .event-text {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .event-text {
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px 0 15px;
        font-size: 18px;
    }
}

.event-foto {
    background: url(./images/IMG_9740.JPG);
    width: 500px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 55px;
    box-sizing: border-box;
    margin: 0 0 0 180px;
    padding: 0;
    align-self: center;
}

@media screen and (max-width: 1536px) {
    .event-foto {
        margin: 0 0 0 50px;
        width: 400px;
        height: 600px;
    }
}

@media screen and (max-width: 1024px) {
    .event-foto {
        margin: 0 0 0 0;
    }
}

@media screen and (max-width: 1000px) {
    .event-foto {
        width: 400px;
        min-height: 500px;
        margin: 0 0 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .event-foto {
        width: 350px;
        height: 450px;
        margin: 0 0 0 0;
    }
}

@media screen and (max-width: 360px) {
    .event-foto {
        width: 100%;
        min-height: 350px;
        
    }
}

/* календарь*/

.date {
    max-width: 1600px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: #fcf9f6;
    padding: 0;
    color: #8C6146;
    padding: 100px 0 100px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 635px) {
    .date {
        min-height: 500px;
    }
}

.date-title {
    margin: 0;
    padding: 0 0 100px 0;
    font-weight: 200;
    font-size: 70px;
    line-height: 120%;
    color: #864646;
    font-family: "Poiret One", sans-serif;
}

@media screen and (max-width: 635px) {
    .date-title {
        font-size: 50px;
        padding: 0 0 50px 0;
    }
}

@media screen and (max-width: 448px) {
    .date-title {
        font-size: 30px;
    }
}

.year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 512px;
    height: 66px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #8C6146;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (max-width: 635px) {
    .year {
        width: 400px;
    }
}

@media screen and (max-width: 448px) {
    .year {
        width: 280px;
    }
}

.week {
    display: grid;
    grid-template-areas:
        "days days days days days days days"
        "days days days days days days days"
        "days days days days days days days"
        "days days days days days days days"
        "days days days days days days days"
        "days days days days days days days";
    text-transform: uppercase;
    color: #8C6146;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    place-items: center;
    row-gap: 31px;
}

@media screen and (max-width: 635px) {
    .week {
        row-gap: 15px;
    }
}

@media screen and (max-width: 448px) {
    .week {
        row-gap: 10px;
        font-size: 14px;
    }
}

.num-date {
    font-family: "Baskervville", serif;
    font-weight: 300;
}

.dayoff {
    color: rgb(204, 11, 11);
}

.thatday {
    box-sizing: border-box;
    padding: 8px 10px;
    border-radius: 50%;
    background-color: #74180f;
    color: #fff;
}

.rendezvous {
    max-width: 1600px;
    margin: 0 auto;
    min-height: 975px;
    display: flex;
    background: url(./images/hello.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    color: #8C6146;
}

.rendezvous {
    max-width: 1600px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: #b39987;
    padding: 0;
    color: #fff;
    padding: 100px 0 100px 0;
    box-sizing: border-box;
    font-family: "Poiret One", sans-serif;
}

.rendezvous-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    align-items: center;
}

.rendezvous-title {
    margin: 0;
    padding: 0 0 25px 0;
    font-weight: 200;
    font-size: 70px;
    line-height: 120%;
    font-family: "Poiret One", sans-serif;
}

@media screen and (max-width: 512px) {
    .rendezvous-title {
        font-size: 40px;
    }
}

.rendezvous-wrapper-decoration {
    width: 240px;
    border-top: 1px solid #FFFFFD;
}

.rendezvous-block {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
}


@media screen and (max-width: 1220px) {
    .rendezvous-block {
        flex-direction: column;

    }
}

.registration {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 1220px) {
    .registration-adaption {
        padding-top: 120px;

    }
}

@media screen and (max-width: 627px) {
    .registration {
        width: 400px;
        text-align: center;
    }
}

@media screen and (max-width: 512px) {
    .registration {
        width: 300px;
        text-align: center;
    }
}

.registration-title {
    font-weight: 200;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 4px;
    padding: 0 0 15px 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (max-width: 512px) {
    .registration-title {
        font-size: 20px;
    }
}

.registration-text {
    margin: 0;
    padding: 0 0 8px 0;
}

@media screen and (max-width: 512px) {
    .registration-text {
        font-size: 14px;
    }
}

.registration-text-name {
    text-transform: uppercase;
    padding: 20px 0;
}

.registration-time {
    display: flex;
    box-sizing: border-box;
    padding-top: 100px;
    width: 500px;
    justify-content: space-evenly;
}

@media screen and (max-width: 627px) {
    .registration-time {
        width: 400px;
    }
}

@media screen and (max-width: 512px) {
    .registration-time {
        max-width: 315px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 335px) {
    .registration-time {
        max-width: 300px;
    }
}

.registration-time-people {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
}

@media screen and (max-width: 627px) {
    .registration-time-people {
        font-weight: 200;
        font-size: 20px;
    }
}

@media screen and (max-width: 512px) {
    .registration-time-people {
        font-weight: 200;
        font-size: 15px;
        text-align: center;
    }
}

.registration-time-clock {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
}

@media screen and (max-width: 627px) {
    .registration-time-clock {
        font-weight: 200;
        font-size: 20px;
    }
}

.button {
    margin-top: 50px;
    align-self: center;
}

.button-link {
    color: #f4f4f4;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 40px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    border: 2px solid #f4f4f4;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.button-link:hover {
    background-color: #847468;
    border: 2px solid #594d45;
}

.coutdown {
    max-width: 1600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: #fffbf7;
    padding: 0;
    color: #8C6146;
    padding: 100px 0 100px 0;
    box-sizing: border-box;
    font-family: "Poiret One", sans-serif;
}

.coutdown-title {
    margin: 0;
    padding: 0 0 70px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 70px;
    line-height: 120%;
    color: #8C6146;
    font-family: "Poiret One", sans-serif;
}

@media screen and (max-width: 1250px) {
    .coutdown-title {
        font-weight: 200;
        font-size: 50px;
    }
}

@media screen and (max-width: 958px) {
    .coutdown-title {
        font-weight: 200;
        font-size: 40px;
    }
}

@media screen and (max-width: 786px) {
    .coutdown-title {
        font-weight: 200;
        font-size: 25px;
    }
}

@media screen and (max-width: 539px) {
    .coutdown-title {
        font-weight: 200;
        font-size: 15px;
        max-width: 319px;
        text-align: center;
    }
}

.countdown-launch {
    display: flex;
}

.countdown-launch-content {
    width: 150px;
    height: 150px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 25px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -khtml-border-radius: 70px;
    border: 1px solid #8C6146;
    border-radius: 70px;
    margin-right: 40px;
    
}

@media screen and (max-width: 958px) {
    .countdown-launch-content {
        width: 100px;
        height: 100px;
        padding: 15px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -khtml-border-radius: 25px;
        border-radius: 25px;
    }
}

@media screen and (max-width: 786px) {
    .countdown-launch-content {
        width: 70px;
        height: 70px;
        padding: 10px;
    }
}

@media screen and (max-width: 539px) {
    .countdown-launch-content {
        width: 50px;
        height: 50px;
        padding: 10px;
        margin-right: 5px;
    }
}

.countdown-launch-content:last-child {
    margin-right: 0;
}

.countdown-launch-content p {
    margin: 0;
    padding: 0;
    color: #8C6146;
    font-family: "Poiret One", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 70px;

}

@media screen and (max-width: 958px) {
    .countdown-launch-content p {
        font-size: 50px;
    }
}

@media screen and (max-width: 786px) {
    .countdown-launch-content p {
        font-size: 20px;
    }
}

@media screen and (max-width: 539px) {
    .countdown-launch-content p {
        font-size: 10px;
    }
}

.countdown-launch-content span {
    margin: 0;
    padding: 0;
    color: #8C6146;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
}

@media screen and (max-width: 786px) {
    .countdown-launch-content span {
        font-size: 15px;
    }
}

@media screen and (max-width: 539px) {
    .countdown-launch-content span {
        font-size: 10px;
        line-height: 100%;

    }
}

.rules {
    background-color: #f5f5eb;
    max-width: 1600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    color: #8C6146;
    padding: 100px 0 100px 0;
    box-sizing: border-box;
    font-family: "Poiret One", sans-serif;
}

.rules-header {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 70px;
    line-height: 120%;
}

@media screen and (max-width: 1080px) {
    .rules-header {
        font-size: 50px;
    }
}

@media screen and (max-width: 773px) {
    .rules-header {
        font-size: 30px;
        text-align: center;
    }
}

.rules-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
}

@media screen and (max-width: 773px) {
    .rules-text {
        font-size: 20px;
        text-align: center;
    }
}

.slider {
    font-size: 20px;
}

.contacts {
    max-width: 1600px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    color: #8C6146;
    padding: 100px 0 100px 0;
    box-sizing: border-box;
    font-family: "Poiret One", sans-serif;
    background: url(./images/contact.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 732px) {
    .contacts {
        min-height: 300px;
    }
}

.contacts-wrapper {
    background: #fcf9f6;
    width: 700px;
    height: 400px;
    border-radius: 90px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 732px) {
    .contacts-wrapper {
        width: 400px;
        height: 200px;
        padding: 10px 0;
    }
}

@media screen and (max-width: 429px) {
    .contacts-wrapper {
        width: 300px;
        height: 400px;
        padding: 100px 0 0 0;
    }
}

.contacts-title {
    font-weight: 400;
    font-size: 70px;
    line-height: 120%;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (max-width: 732px) {
    .contacts-title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bolder;
    }
}

@media screen and (max-width: 429px) {
    .contacts-title {
        padding: 0 0 25px 0;
    }
}

.contacts-decoration {
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 400px;
    display: flex;
    box-sizing: border-box;
    padding-top: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
}

@media screen and (max-width: 732px) {
    .contacts-decoration {
        padding-top: 5px;
        font-weight: 300;
        font-size: 15px;
        max-width: 250px;
    }
}

@media screen and (max-width: 429px) {
    .contacts-decoration {
        padding: 0 0 15px 0;
    }
}

.contacts-text {
    margin: 0;
    padding: 20px 0;
    font-size: 20px;
    line-height: 120%;
    font-weight: 600;
}

@media screen and (max-width: 732px) {
    .contacts-text {
        font-size: 15px;
        text-transform: uppercase;
    }
}


@media screen and (max-width: 429px) {
    .contacts-text {
        padding: 15px 0 50px 0;
    }
}

.phone {
    text-decoration: none;
    color: #8C6146;
    font-weight: 600;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 40px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    border: 2px solid #8C6146;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.phone:hover {
    background-color: #864646;
    color: #f4f4f4;
}

@media screen and (max-width: 425px) {
    .phone {
        width: 160px;
        height: 35px;
        font-weight: 600;
        font-size: 15px;
    }
}

.confirm{
    max-width: 1600px;
    margin: 0 auto;
    height: 400px;
    background: #fcf9f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: #8C6146;
    padding: 50px 0;;
}
.confirm-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    margin: 0;
    padding: 0;
    width: 650px;
    text-align: center;
}

@media screen and (max-width: 667px){
    .confirm-title{
        font-weight: 400;
        font-size: 17px;
        line-height: 120%;
        margin: 0;
        padding: 0;
        width: 320px;
        text-align: center;
    }
}

.confirm-text{
    margin: 0;
    padding: 30px 0 0 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;

}

.footer{
    max-width: 1600px;
    margin: 0 auto;
    height: 100vh;
    background: url(./images/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Poiret One", sans-serif;
}

@media screen and (max-width: 667px){
    .footer{
        background: url(./images/main-mobile.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.footer-text{
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    margin: 0;
    padding: 0 0 70px 0;
}

@media screen and (max-width: 667px){
    .footer-text{
        font-weight: 400;
        font-size: 30px;
    }
}

.footer-title{
    font-weight: 400;
    font-size: 70px;
    line-height: 120%;
    margin: 0;
    padding: 0;
    width: 900px;
    text-align: center;
}

@media screen and (max-width: 667px){
    .footer-title{
        font-weight: 400;
        font-size: 50px;
        line-height: 120%;
        margin: 0;
        padding: 0;
        width: 320px;
        text-align: center;
    }
}