.body {
    margin: 0 auto;
    background-color: #f7f7f7;
    font-family: "Jura", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
}

.header {
    max-width: 1600px;
    margin: 0 auto;
    height: 100vh;
    background: url(./images/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

@media screen and (max-width: 430px) {
    .header {
        max-width: 430px;
    }
}

.header-title {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 100px;
    font-weight: 200;
    max-width: 550px;
    text-align: center;
}


@media screen and (max-width: 500px) {
    .header-title {
        max-width: 430px;
        font-size: 60px;
    }
}

@media screen and (max-width: 430px) {
    .header-title {
        max-width: 430px;
        font-size: 55px;
    }
}

@media screen and (max-width: 360px) {
    .header-title {
        max-width: 320px;
        font-size: 40px;
    }
}

.header-text {
    margin: 0;
    padding: 100px 0 0 0;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

@media screen and (max-width: 480px) {
    .header-text {
        font-size: 25px;
        padding: 50px 0 0 0;
    }
}

@media screen and (max-width: 430px) {
    .header-text {
        font-size: 25px;
        padding: 50px 0 0 0;
    }
}

.main {
    margin: 0 auto;
    padding: 0;
}

.event {
    max-width: 1600px;
    margin: 0 auto;
    min-height: 975px;
    display: flex;
    background: url(./images/hello.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    color: #8C6146;
}


@media screen and (max-width: 1000px) {
    .event {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}

.event-description {
    max-width: 540px;
    margin: 0;
    padding: 300px 0 0 300px;
}

@media screen and (max-width: 1440px) {
    .event-description {
        max-width: 540px;
        margin: 0;
        padding: 300px 0 0 200px;
    }
}

@media screen and (max-width: 1220px) {
    .event-description {
        padding: 300px 0 0 100px;
        max-width: 430px;
    }
}

@media screen and (max-width: 1000px) {
    .event-description {
        margin: 0;
        padding: 0;
    }
}

.event-header {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 0;
    padding: 0 0 45px 0;
    font-weight: 100;
    font-size: 70px;
    line-height: 120%;
    font-family: "Poiret One", sans-serif;
}

@media screen and (max-width: 1024px) {
    .event-header {
        padding-bottom: 30px;
        font-size: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .event-header {
        padding-bottom: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .event-header {
        box-sizing: border-box;
        padding: 0 10px 0 10px;
        font-size: 45px;
    }
}

.event-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    margin: 0;
    padding: 0 0 0 0;
    width: 350px;
}

@media screen and (max-width: 1000px) {
    .event-text {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .event-text {
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px 0 15px;
        font-size: 18px;
    }
}

.event-foto {
    background: url(./images/alph.jpg);
    width: 500px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 55px;
    box-sizing: border-box;
    margin: 0 0 0 180px;
    padding: 0;
    align-self: center;
}

@media screen and (max-width: 1536px) {
    .event-foto {
        margin: 0 0 0 50px;
        width: 400px;
        height: 600px;
    }
}

@media screen and (max-width: 1024px) {
    .event-foto {
        margin: 0 0 0 0;
    }
}

@media screen and (max-width: 1000px) {
    .event-foto {
        width: 400px;
        height: 500px;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .event-foto {
        width: 350px;
        height: 450px;
    }
}

@media screen and (max-width: 360px) {
    .event-foto {
        width: 250px;
        height: 350px;
    }
}